    <!-- <div
      class="modal"
      [ngStyle]="{'display':display}"
    >
    <div class="modal-content">
     <h4 class="modal-title">
       choose amount you want from this product:
    </h4> -->
        <!-- button-"close" -->
    <!-- <button
         type="button"
         class="close"
         (click)="onCloseHandled()"
    >
    </button>

    <div 
         id="divNumber"
    > -->
      <!-- <button
         id="buttonAddNum"
         (click)="addNum()"
        >
            <p>+</p>
        </button>
        <div
          class="divCounter"
          >
           {{count}}
        </div>
    </div> -->

    <!-- button-"reset mount" -->
    <!-- <button id="resetMountButton" (click)="reset()">
        <p>reset mount</p>
    </button> -->

    <!-- button-"cancel" -->
    <!-- <button
          id="closeModalButton"
          type="button"
          (click)="onCloseHandled()"
    >
      cancel
    </button>    -->

    <!-- button-"add" - to add product to cart -->
    <!-- <button
         (click)="addProductToCart()"
         id="addProduct"
    >
      add
    </button>
    </div>
    </div> -->


