
/* .mainDiv {
    display: flex;
    white-space: nowrap;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 34px;
} */

/* input {
    height: 32px;
    width: 18%;
    margin-left: 10px;
}

.matIcon {
    margin-top: 5px;
} */