.search {
    display: flex;
    font-size: 20px;
    margin-left: 34px;
    margin-top: 10px;
    white-space: nowrap;
} 

input {
    height: 32px;
    margin-left: 10px;
    width: 16%;
}

.matIcon {
    margin-top: 5px;
}