<div class="mainDiv">

    <!-- step register: -->
    <div class="icon">
        <p> {{text}}{{numberStep}} </p>
        <mat-icon class="matIcon">east</mat-icon>
    </div>
    
    <label>{{labelField1}}</label>
    <input placeholder={{placeholderInput1}} class={{classInput1}} id={{idInput1}}/>
    <br />

    <label>{{labelField2}}</label>
    <input placeholder={{placeholderInput2}} class={{classInput2}} id={{idInput2}}/>
    <br />

    <label>{{labelField3}}</label>
    <input placeholder={{placeholderInput3}} class={{classInput3}} id={{idInput3}}/>
    <br />

    <label>{{labelField4}}</label>
    <input placeholder={{placeholderInput4}}  class={{classInput4}} id={{idInput4}}/>

</div>