.mainDiv {
    display: inline-block;
}

.card {
    background-image: linear-gradient(135deg, #6292f8,#dceeff ) ;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(94, 94, 94);
    font-size: medium; 
    height: 155px;
    margin-left: 60px;
    margin-top: 40px;
    text-align: center;
    width: 180px;
}

img {
    border-radius: 15px;
    border: 1px solid rgb(148, 148, 148);
    height: 115px;
    vertical-align: middle;
    width: 125px;
}

h3 { 
    color: white;
    font-family: "Adobe Devanagari";
    font-size: 27px;
    font-weight: bold;
    padding-top: 30px;
    text-shadow: 1px 1px 2px black;
}

h2 { 
    color: red;
    font-family: "Adobe Devanagari";
    font-size: 25px;
    font-weight: bold;
}

