.containerLogin {
    display: flex;
    grid-template-rows: 1fr; 
    justify-content: center;
    width: 100%;
}

/* style to form of login */
form {
    border: 3px solid red;
    display: grid;
    height: 605px;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 40px;
    margin-top: 3em;
    width: 520px;
}

/* "Start Shopping" - link to shopping page */
.shoppingLink {
    background-color: #333;
    font-size: 20px;
    height: 40px;
    margin-left: 50px;
    margin-top: 30px;
    padding: 3px;
    text-align: center;
    width: 180px;
}

/* question to user-"Registered?" */
.registerPassage {
    font-size: 25px;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 20px;
}

/* style to label of email + password: */
label {
    color: blue;
    font-size: 23px;
    margin-left: 25px;
}

#emailLabel {
    margin-left: 5px;
}

#passwordDiv {
    margin-left: 0px;
}
.passwordLabel {
    margin-left: 22px;
}

input {
    border: 3px solid blue;
    color: blue;
    font-size: 20px;
    height: 35px;
    width: 270px;
    margin-left: 25px;
}

.passwordInput {
    margin-left: 4px;
}

/* style to each error - message to user under the input: */
.invalid-feedback {
   color: brown;
   font-size: 18px;
   margin-left: 25px;
}

#invalidEmailMessage {
    color: rgb(109, 100, 237);
    margin-left: 4px;
}

/* style to button- "Login": */
button {
    font-size: 25px;
    height: 38px;
    margin-top: 3px;
    width: 35%;
}

/* style to button- "Login" when you hover on this button: */
button:hover {
    background-color: rgb(192, 221, 255);
}

/* style to "Sign Up" link: */
.linkToRegister {
    display: inline-block;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 12px;
}

/* style to "Sign Up" link when you hover on this link: */
.linkToRegister :hover {
    color: red;
}

/* style to "eye" icon and input of password together:  */
#visibilityIcon {
    display: flex;
}

 /* style to "eye" icon:   */
 .material-icons {
    margin-left: 5px;
} 

.wrongMessage {
    color: rgb(255, 60, 0);
    font-size: large;
    margin-left: 2em;
}