/* main div of details  */
.mainDiv {
    border: 1px solid black;
    height: 650px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-top: 50px;
    width: 420px;
}

/* style of form */
form {
    font-size: 20px;
    justify-items: center;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

span {
    font-size: 19px;
    height: 20px;
    margin-left: 15px;
}

/* span- "Order- Shipping Details" */
#shippingDetails {
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}

label {
    font-size: 23px;
}

/* style of button "order" */
button {
    font-size: 25px;
    height: 38px;
    width: 35%;
}

input {
    height: 30px;
    width: 60%;
}

.labelForm {
    margin-top: 20px;
}

/* error in fill fields: */
.invalid-feedback {
    color: brown;
}

/* disable user to enter string to input of "identify": */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* style to select and input */
select, input {
    font-size: large;
    width: 80%;
}