/* style to main div  */
.mainDiv {
    align-items: center;
    border-radius: 25px;
    border: 2px solid  blue;
    height: 250px;
    margin-left: 40%;
    margin-top: 50px;
    text-align: center;
    width: 400px;
}

.divPassages {
    margin-top: 50px;
}

/* style to passage-"!קנייתך בוצעה בהצלחה" */
.passageSuccess {
    font-size: 30px;
}

.passageDownload {
    font-size: 25px;
}

/* style to button "אישור" */
button {
    border-radius: 5px;
    font-size: 20px;
    margin-top: 30px;
    padding: 7px;
    width: 35%;
}

/* style to button "אישור"  when you hover on this button*/
button:hover {
    background-color: rgb(192, 221, 255);
}

/* style to link-"אישור" */
a {
    text-decoration: underline;
}



