.mainDiv {
    border: 2px solid blue;
    height: 100%;
    margin-inline-start: 20px;
    min-width: 260px;
    position: relative;
}

p {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

hr {
    margin-top: 2px;
}

.orderLink {
    bottom: 0;
    display: flex;
    font-size: 20px;
    margin-left: 10px;
    margin: 30px;
    position: absolute;
    text-decoration: underline;
}

td {
    color: blue;
    font-size: large;
}

tr {
    color: red;
    display: grid;
    font-size: x-large;
    font-weight: bold;
    grid-column-gap: 0.3em;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
}

mat-icon {
    cursor: pointer;
}

mat-icon:hover {
    color: red;
}

#order {
    font-size: x-large;
    margin-left: 1em;
}