<!-- @ts-nocheck -->
<div class="mainDiv">
    <a routerLink="/shopping">Back to shop</a>
    <p>My Cart </p>
    <hr />
    <table class='table table-striped'>
        <thead>
          <tr>
            <th id="productName"> Name</th>
            <th id="priceProduct">Price</th>
            <th id="deleteProduct">delete</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
          <tr *ngFor="let product of cart" >
            <td>{{ product.productName }}</td>
            <td>{{ product.price }}</td>
            <td>
                  <mat-icon
                     (click)="onClickDelete(product._id)"
                  >
                     delete
                  </mat-icon> 
            </td>
          </tr>
          </ng-container>
        </tbody>
      </table>
    <div class="orderLink">
        <div>
            <p>Total: {{totalPrice}}</p>
        </div>
     <app-order></app-order>
    </div>
</div>