.mainDiv {
    border: 2px solid blue;
    height: 600px;
    margin-bottom: 30px;
    margin-left: 14%;
    width: 390px;
}

p {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

hr {
    margin-top: 2px;
}

.divOrderLink {
    display: flex;
    margin-top: 60%;
}

a {
    font-size: 20px;
    margin-left: 10px;
    margin: 30px;
    text-decoration: underline;
}

td {
    color: blue;
    font-size: large;
}

tr {
    color: red;
    font-weight: bold;
    font-weight: bold;
    margin-left: 40px;
    font-size: x-large;
}

#nameProduct {
    margin-left: 20px;
}