/* main div: */
.divAboutUs {
    border: 3px solid red;
    flex-direction: row;
    grid-template-rows: 1fr;
    height: 605px;
    justify-content: center;
    margin-left: 30px;
    width: 430px;
}

/* image of cart in shop: */
img {
    height: 140px;
    margin-left: 82px; 
    margin-top: 20px;
    width: 300px;
}

/* passage of question:"Why you should buy in our store?": */
.questionPassage {
    color: blue;
    font-weight: bold;
    font-size: 30px;
    margin-left: 25px;
}

/* div of lines data: */
.descriptionAboutUs {
    font-size: 16px;
    margin-left: 19px;
    margin-top: 3px;
}

