<div class="divAboutUs">
    <div>
        <img src="/assets/images/ourShop.jpg" />

        <p class="questionPassage">Why you should buy in our store?</p>
        <div class="descriptionAboutUs">
            Shufersal, the leading retail chain in Israel,
            <br /> <br />
            has set itself the goal of providing a quality
            <br /> <br />
            and diverse solution to all its customers.
            <br /> <br />
            Satisfaction of customers,
            <br /> <br />
            employees and suppliers
            <br /> <br />
            is one of the cornerstones on which
            <br /> <br />
            the company is founded.
        </div>
    </div>
</div>