<div class="mainDiv">
    <div class="childDiv">
        <form>

            <p class="stepPassage">Sign Up - "STEP 2"</p>

            <label class="cityLabel">City:</label>
            <br />
            <input class="cityInput" type="text" required autofocus placeholder="City">
            <br /> <br /><br />

            <label class="streetLabel">Street:</label>
            <br />
            <input class="streetInput" type="text" required autofocus placeholder="Street">
            <br /> <br /><br />

            <label class="nameLabel">Name:</label>
            <br />
            <input class="nameInput" type="text" required autofocus placeholder="Name">
            <br /> <br /><br />

            <label class="lastNameLabel">Last Name:</label>
            <br />
            <input class="iastNameInput" type="text" required autofocus placeholder="Last Name">

            <button class="registerButton" routerLink="/login">
                Register
            </button>
        </form>

    </div>
</div>