/* style to main div */
.mainDiv {
    display: flex;
}

/* style to image- 'order.jpg' */
img {
    border-radius: 25px;
    height: 300px;
    margin-left: 100px;
    margin-top: 80px;
    width: 300px;
}

.cart {
    margin-top: 50px;
}
