.mainDiv {
    display: flex;
}

.divProducts {
    border: 2px solid blue;
    display: flex;
    height: 600px;
    width: 1000px;
    margin-left: 80px;
}

a, p {
    font-size: 23px;
}

#categoriesName {
    display: flex;
    height: 130px;
    margin-left: 100px;
    padding-top: 15px;
    text-decoration: underline;
    text-align: center;
    width: 1000px;
    font-weight: bold;
}

.cards{
    margin-right: 40px;
}

.modal{
    height: 800px;
    width: 600px;
    margin-left: 35%;
    margin-top: 12%;
}

.myButton:hover {
    background-color: rgb(192, 221, 255);
}

.divCounter {
    border: 2px solid rgb(0, 140, 255);
    height: 30px;
    width: 25%;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#divNumber{
    display: flex;
    margin-top: 15px;
}

h4 {
    font-weight: bold;
    font-size: 21px;
    margin-left: 30px;
    margin-top: 40px;
    text-align: left;
}

#buttonAddNum{
    height: 28px;
    margin-left: 70px;
    text-align: center;
}

.modal-content {
    height: 250px;
    width: 450px;
}

#resetMountButton {
    color: rgb(20, 23, 220);
    font-size: 23px;
    margin-left: 50px;
}

#closeModalButton, #addProduct {
    color: rgb(20, 23, 220);
    font-size: 23px;
    margin-top: 45px;
    margin-left: 20px;
    text-align: center;
}

button:hover {
    background-color: rgb(192, 221, 255);
}