.mainDiv {
    display: grid;
    grid-column-gap: 31px;
    grid-template-columns: 30% 70%;
    width: 95%;
}

input {
    border: 3px solid blue;
    height: 32px;
    margin-left: 10px;
    width: 16%;
}

.searchProductDiv {
    display: flex;
    font-size: 20px;
    margin-left: 34px;
    margin-top: 10px;
    white-space: nowrap;
}

.divProducts {
    border: 2px solid blue;
    display: inline-block;
    height: 100%;
    margin-bottom: 120px;
    overflow-x: hidden;
    overflow-y: auto; 
    width: 100%;
}

a, p {
    font-size: 23px;
}

.categories{
    align-items: center;
    cursor: pointer;
    display: flex;
    grid-column-gap: 5em;
    justify-content: center;
    margin-top: 18px;
    width: 100%;
}

.modal {
    height: 800px;
    margin-left: 35%;
    margin-top: 12%;
    width: 600px;
}

.myButton:hover {
    background-color: rgb(192, 221, 255);
}

h4 {
    font-size: 21px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
}

.modal-content {
    height: 250px;
    width: 450px;
}

#closeModalButton, #addProduct {
    color: rgb(20, 23, 220);
    font-size: 23px;
    margin-left: 80px;
    margin-top: 45px;
    text-align: center;
}

button:hover {
    background-color: rgb(192, 221, 255);
}

.productCards {
    display: grid;
    grid-column-gap: 2.5em;
    grid-template-columns: repeat(auto-fill, minmax(8em,1fr));
    margin-left: 1.7em;
    margin-right: 1.7em;
}

.search-area {
   display: flex;
   flex-direction: column;
}