<div class="search-area">
<app-search-bar
  [onChange]="onSearchProduct"
></app-search-bar>

    <app-search-result
      *ngIf="searchResult.length"
       [searchResult]="searchResult"
       [addProductToCart]="addProductToCart"
    >
    </app-search-result>
</div>

<div class="mainDiv">
    <app-cart
       [cart]="cart"
       [onClickDelete]="onClickDelete"
       [currentCart]="currentCart"
       [totalPrice]="totalPrice"
    > </app-cart>

        <div class="divProducts">
            <div class="categories">
        <a
          *ngFor="let category of categories"
          (click)="onClickCategory(category._id)">
           <p>
               {{category.categoryName}}
           </p>
        </a>
       </div>

       <div class="productCards">
         <app-product-card  
              (click)="openModal(product._id, product.productName, product.price)"
              *ngFor="let product of productsToDisplay" [product]="product">
         </app-product-card>
         </div>
</div>

    <div
        class="modal"
        [ngStyle]="{'display':displayModal}"
    >
    <div class="modal-content">
        <h4 class="modal-title">
            Are you sure you want to add this product ?
        </h4>
        <button
               type="button"
               class="close"
               (click)="onCloseModal()"
        >
        </button>

        <button 
              id="closeModalButton"
              type="button"
              (click)="onCloseModal()"
        >
          cancel
        </button>

        <button
              (click)="addProductToCart()"
              id="addProduct"
        >
          add
        </button>
    </div>
</div>